*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #001632;
}

/* HEADER */
header{
    height: 75px;
    background-color: #fff;
}

.main-color{
    color: #001632;
}

#difficulty, #start{
    background-color: #001632;
    border: none;
    border-radius: 0px;
    color: #fff;
    padding: 10px;
}
/* FINE HEADER */

/* MAIN */
/* GRID */
    #grid{
        width: 100%;
    }

    .game-card{
        position: relative;
        cursor: pointer;
        transition: transform 1s;
        transform-style: preserve-3d;
    }  

    .card-face-back, .card-face-front{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .card-face-front{
        transform: rotateY(180deg);
    }

    .game-card.flipped{
        transform: rotateY(-180deg)
    }
/* FINE GRID*/